
.navbar-link{
  color: #fff;
  font-family: Raleway;
  font-weight: bold;
}
.navbar-link:hover{
  color: rgba(226, 221, 221, 0.993);
}
.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-layout-wrap-1 {
  min-height: 731px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 731px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 60px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  margin: 107px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 18px 156px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 42px auto 0 0;
  padding: 10px 35px 10px 34px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px 156px 0 auto;
  padding: 10px 53px;
}

.u-section-1 .u-image-1 {
  min-height: 731px;
  background-image: url("images/Pngtreewebdevelopmentillustrationmodern_4461019.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 475px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 73px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 56px;
  }

  .u-section-1 .u-image-1 {
    background-position: 0% 50%;
    min-height: 603px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 706px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 140px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 693px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 449px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 75px;
  }

  .u-section-1 .u-image-1 {
    min-height: 436px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 664px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 427px;
  height: 427px;
  background-image: url("images/686424615-0.jpeg");
  background-position: 50% 50%;
  margin: 119px 33px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 664px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 187px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-2 .u-image-1 {
    width: 380px;
    height: 380px;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 593px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 377px;
    height: 377px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-2 .u-image-1 {
    width: 311px;
    height: 311px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 872px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 764px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-shape-1 {
  width: 165px;
  height: 52px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  line-height: 1.2;
  font-family: Raleway, sans-serif;
  font-size: 3.75rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 40px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 764px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 542px;
  height: 542px;
  background-image: url("images/gfg-min.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 218px;
  height: 68px;
  margin: -96px 0 28px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-3 .u-image-1 {
    width: 459px;
    height: 459px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -68px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-3 .u-image-1 {
    width: 349px;
    height: 349px;
  }

  .u-section-3 .u-shape-2 {
    width: 165px;
    height: 51px;
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 4px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 92px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 657px;
  }

  .u-section-3 .u-image-1 {
    width: 505px;
    height: 505px;
    margin-left: 16px;
  }

  .u-section-3 .u-shape-2 {
    width: 235px;
    height: 73px;
    margin-top: -114px;
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 425px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 152px;
    height: 47px;
    margin-top: -62px;
    margin-bottom: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 622px;
}

.u-section-4 .u-shape-1 {
  width: 904px;
  height: 452px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: "Archivo Black";
  font-size: 3rem;
  margin: -382px 95px 0;
}

.u-section-4 .u-text-2 {
  width: 424px;
  margin: 20px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1138px;
  margin: 37px auto 60px 1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  grid-gap: 30px 30px;
  min-height: 346px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 5px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  width: 80px;
  min-height: 80px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 13px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-3 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-9 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 13px;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-group-4 {
  width: 80px;
  min-height: 80px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 0;
}

.u-section-4 .u-text-12 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 13px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-14 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    font-size: 2.75rem;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-bottom: -158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-4 .u-shape-1 {
    width: 710px;
    height: 283px;
    margin-left: -85px;
    margin-right: -85px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -213px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: -171px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1511px;
  }

  .u-section-4 .u-shape-1 {
    width: 726px;
    margin-left: -193px;
    margin-right: -193px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -252px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-12 {
    font-size: 2.25rem;
  }
}