.main-row{
    margin: auto;
    width: 50%;
}
.login-btn {
    margin: auto;
    width: 40%;
    align-items: center;
}
.btn {
    width: 250px;
}
.form-group.reg-link {
    margin: auto;
    margin-left: 38%;
    align-items: center;
    margin-top: 7px;
}